{% extends "header_footer.html" %}
{% block title %}
Weekly Progress
{% endblock %}
 {% block content %}
 
        <div class="container-fluid">


          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <center>
            
            <br>
                <h4> Weekly Progress  </h4>
                <hr style="width: 20%;height:1px;background-color:green">
                <div class="row">
                <div class="col-md-3">
                </div>
                  <div class="col-md-6">
                  <form action="/weekly_detail" method="POST">
                    <select name="weeks" class="setup_inputs">
                    
                    
                  
                    {% for i in weeks %}
                    <option value="{{i}}">Week {{i}}</option>
                    
                    {% endfor %}
                    </select>
                    <input type="submit" value="Select">
                  </form>
                  <div class="profile_setup">
                      <p><h4>Week {{week}}</h4></p>
                      <br>
                      <p><b>Final Weight of this week:</b> {{weight_week}}lb</p>
                      <p><b>Average Calorie Consumed per day:</b> {{average_calorie}}kcal</p>
                      <p><b>Average Protein consumed per day:</b> {{average_protein}}g</p>
                <p><b>Average Carb consumed per day:</b> {{average_carb}}g</p>
                <p><b>Average Fat consumed per day:</b> {{average_fat}}g</p>

                <p><b>Average Calorie Deficit per day:</b> {{average_deficit}}kcal</p>
                <p><b>Net Calorie Deficit of the week: </b>{{net_deficit}}kcal</p>

                <br>
                <p>{{result}}</p>
                <p>That will be highly relating to your activity level throughout the week.</p>
                <br>
                  </div>
                  </div> 

                 <div class="col-md-3">
                </div>
                


                
                
            </div>
            <br>
            <a href="/progress"> <button style="margin-top:5px;"  id="editbutton">Back</button></a>

          </center>   
           
          <div class="col-md-1"></div>
          </div>
        </div>
{% endblock %}